/*** CSS RESET ***/

/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*** Main styles ***/

* {
	box-sizing: border-box;
}
body {
	background: #fff;
	color: #000;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}
strong {
  font-weight: bold;
}
a {
  color: #30a;
  text-decoration: none;
}


/*** Header styles ***/

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 42px;
	padding: 3px 6px;
	line-height: 36px;
	background: #d6daf0;
	border-bottom: 3px solid #b7c5d9;
	display: flex;
}
#header > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#header > #logo,
#header > #logotext,
#header > .paste-info,
#header > .paste-actions,
#header > #top-menu {
  flex-shrink: 0;
}
#header > .paste-title {
  margin-left: 0.6em;
  min-width: 30px;
  flex-shrink: 6;
}
#header > .paste-info {
  margin-left: 0.6em;
}
#header > .paste-actions {
  margin-left: 0.6em;
  padding-right: 0.3em;
}
#header > .paste-actions .phone-info {
  display: none;
}

#header > .paste-info .count {
  margin-left: 0.15em;
}
#header > #top-menu {
  flex-grow: 1;
  text-align: right;
  padding-left: 0.6em;
}

@media (min-width: 768px) {
  body.new-paste #top-menu .narrow {
	display: none;
  }
}
@media (max-width: 767px) {
  body.new-paste #top-menu .wide {
	display: none;
  }
}

@media (min-width: 960px) {
  body.view-paste .paste-info .date .narrow,
  body.view-paste .paste-actions .narrow,
  body.view-paste #top-menu .narrow {
	display: none;
  }
}
@media (max-width: 959px) {
  body.view-paste .paste-info .date .wide,
  body.view-paste .paste-actions .wide,
  body.view-paste #top-menu .wide {
	display: none;
  }
}
@media (min-width: 768px) {
  body.view-paste .paste-info .trip .narrow {
	display: none;
  }
}
@media (max-width: 767px) {
  body.view-paste .paste-info .trip .wide {
	display: none;
  }
}


/*** Logo and logo text ***/

#logotext {
  color: #000;
}
a:hover, a:focus,
#logotext:hover, #logotext:focus {
  color: #30f;
  text-decoration: underline;
}

#logo {
	width: 33px;
	height: 33px;
}
body.js #logo {
  cursor: pointer;
}
body.js #logo:hover path.black,
#header.logo-hover #logo path.black {
  fill: #30f;
}
#logo ellipse {
  fill: none;
  stroke: #000;
  stroke-width: 15;
}
body.js #logo:hover ellipse,
#header.logo-hover #logo ellipse {
  stroke: #30f;
}
#header.logo-hover #logotext {
  color: #30f;
  text-decoration: underline;
}


/*** New paste form ***/

#new-paste-form {
  margin-left: 0.6em;
}
#new-paste-form #new-paste-form-inputs {
  display: inline;
}
#new-paste-form .description {
  color: #234;
  font-size: 12px;
}
#new-paste-form input {
  font-size: 13px;
}
#new-paste-form input[type=text],
#new-paste-form input[type=password] {
  border: 1px solid #b7c5d9;
}
#new-paste-form #title {
  width: 78px;
}
#new-paste-form #username {
  width: 75px;
  background: #dfd;
}
#new-paste-form #password {
  width: 72px;
  background: #fdd;
}
#new-paste-form #send {
  padding: 0 0.3em;
}
#new-paste-form #toggle-pw {
  display: none;
}
@media (min-width: 720px) {
  #new-paste-form #title {
	width: 108px;
  }
  #new-paste-form #username {
	width: 102px;
	background: #dfd;
  }
  #new-paste-form #password {
	width: 96px;
	background: #fdd;
  }
  #new-paste-form #send {
	padding: 0 0.6em;
  }
}
@media (min-width: 750px) {
  body.js #new-paste-form #toggle-pw {
	display: inline;
	margin-right: 0.15em;
  }
}


/*** Paste info (for viewing and listing pastes) ***/

.paste-title {
  font-weight: bold;
}
.paste-title.is-mod-action {
  color: #900;
  text-decoration: underline;
}
a:hover .paste-title.is-mod-action,
a:focus .paste-title.is-mod-action {
  color: #30f;
}
.paste-info .anon {
  font-style: italic;
  color: #606060;
}
.paste-info .trip-link {
  color: #093;
}
.paste-info .uid-link {
  border-radius: 3px;
  padding: 1px 2px;
}
.paste-info .uid-link.dark {
  color: #fff;
}
.paste-info .uid-link.light {
  color: #000;
}

/*** Page content ***/

#content {
  margin-top: 42px; /* .header height incl border */
}
#page-text {
  padding: 1em;
  font-size: 15px;
}
#page-text h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}
#page-text ul,
#page-text p {
  margin-bottom: 12px;
}
.error, .warning {
  color: #900;
}


/*** Paste List ***/

.paste-list {
  font-size: 13px;
  line-height: 22px;
  border-top: 1px solid #e2e5f5;
  border-bottom: 1px solid #e2e5f5;
}
.paste-list tr.header {
  background: #f3f4fb;
}
.paste-list th {
  font-weight: bold;
}
.paste-list th,
.paste-list td {
  text-align: left;
  padding: 0 0.3em;
  border-left: 1px solid #e2e5f5;
}
.paste-list td {
  border-top: 1px solid #e2e5f5;
  color: #454545;
}
.paste-list .cell-index,
.paste-list .cell-size {
  text-align: right;
}
.paste-list .cell-size {
  border-right: 1px solid #e2e5f5;
}
.paste-list .count {
  margin-left: 0.15em;
}
.paste-list a {
  padding: 0.3em 0;
}

body.list-pastes .paste-list .cell-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
}

@media (max-width: 959px) {
  body.list-pastes .paste-list .cell-title {
	max-width: 240px;
  }
}

@media (min-width: 800px) {
  body.list-pastes .paste-list .narrow {
	display: none;
  }
}
@media (max-width: 799px) {
  body.list-pastes .paste-list .wide {
	display: none;
  }
  body.list-pastes .paste-list .cell-title {
	max-width: 180px;
  }
}
@media (max-width: 659px) {
  body.list-pastes .paste-list .cell-title {
	max-width: 120px;
  }
}
@media (max-width: 599px) {
  body.list-pastes .paste-list .cell-title {
	max-width: 75px;
  }
}

/*** Paste Textarea ***/

#paste {
	margin: 0;
	position: absolute;
	top: 42px; /* .header height incl border */
	left: 0;
	right: 0;
	bottom: 0; /* doesn't work? */
	height: calc(100% - 42px); /* .header height incl border */
	padding: 9px;
	font-size: 12px;
	font-family: monospace;
	white-space: pre-wrap;
	border: none;
	line-height: 13.5px;
	display: block;
	width: 100%;
	resize: none;
	outline: none;
}
textarea[readonly] {
	color: #454545;
	background: #e6e9f6;
}


/*** Responsive design for very small screens ***/

@media (max-width: 639px) {
  body.view-paste #header,
  body.new-paste #header {
	display: block;
	height: 72px;
	line-height: 24px;
  }
  body.new-paste #header > #logo,
  body.view-paste #header > #logo {
	position: absolute;
	left: 3px;
	top: 3px;
	width: 24px;
	height: 24px;
  }
  body.new-paste #header > #logotext,
  body.view-paste #header > #logotext {
	position: absolute;
	left: 27px;
	top: 4.5px;
	height: 24px;
	line-height: 24px;
	max-width: 54px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  body.view-paste #header > .paste-title,
  body.new-paste #header > #new-paste-form .description {
	position: absolute;
	left: 81px;
	right: 6px;
	top: 4.5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  body.view-paste #header > .paste-info,
  body.new-paste #header #new-paste-form-inputs {
	position: absolute;
	left: 6px;
	top: 25.5px;
	margin-left: 0;
  }
  body.view-paste #header > .paste-actions {
	position: absolute;
	left: 6px;
	top: 45px;
	margin-left: 0;
  }
  body.view-paste #header > .paste-actions .phone-info {
	display: inline;
  }
  body.view-paste #header > #top-menu,
  body.new-paste #header > #top-menu {
	position: absolute;
	top: 45px;
	right: 6px;
	padding-right: 0.15em;
  }
  body.view-paste #content,
  body.new-paste #content {
	margin-top: 72px; /* .header height incl border */
  }
  body.view-paste #paste,
  body.new-paste #paste {
	top: 72px; /* .header height incl border */
	height: calc(100% - 72px); /* .header height incl border */
  }

  body.new-paste #top-menu .wide {
	display: inline;
  }
  body.new-paste #top-menu .narrow {
	display: none;
  }
  body.new-paste #header #new-paste-form-inputs {
	display: flex;
	right: 6px;
	top: 27px;
  }
  body.new-paste #header #new-paste-form-inputs input[type=text],
  body.new-paste #header #new-paste-form-inputs input[type=password] {
	flex-grow: 1;
	margin-right: 0.3em;
  }
}
@media (max-width: 639px) {
  body.view-paste .paste-info .trip .wide,
  body.view-paste .paste-info .date .wide,
  body.view-paste .paste-actions .wide,
  body.view-paste #top-menu .wide {
	display: inline;
  }
  body.view-paste .paste-info .trip .narrow,
  body.view-paste .paste-info .date .narrow,
  body.view-paste .paste-actions .narrow,
  body.view-paste #top-menu .narrow {
	display: none;
  }
}
@media (max-width: 540px) {
  body.view-paste .paste-info .trip .wide,
  body.view-paste .paste-info .date .wide {
	display: none;
  }
  body.view-paste .paste-info .trip .narrow,
  body.view-paste .paste-info .date .narrow {
	display: inline;
  }
}
@media (max-width: 420px) {
  body.view-paste .paste-actions .wide,
  body.view-paste #top-menu .wide {
	display: none;
  }
  body.view-paste .paste-actions .narrow,
  body.view-paste #top-menu .narrow {
	display: inline;
  }
}
