/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */

* {
	box-sizing: border-box;
}
body {
	background: #fff;
	color: #000;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}
a {
  color: #30a;
  text-decoration: none;
}
#logotext {
  color: #000;
}
a:hover, a:focus,
#logotext:hover, #logotext:focus {
  color: #30f;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
	line-height: 36px;
	background: #d6daf0;
	border-bottom: 3px solid #b7c5d9;
	display: flex;
	z-index: 6;
}
#logo {
	width: 33px;
	height: 33px;
}
body.js #logo {
  cursor: pointer;
}
body.js #logo:hover path.black,
#header.logo-hover #logo path.black {
  fill: #30f;
}
#logo ellipse {
  fill: none;
  stroke: #000;
  stroke-width: 15;
}
body.js #logo:hover ellipse,
#header.logo-hover #logo ellipse {
  stroke: #30f;
}
#header.logo-hover #logotext {
  color: #30f;
  text-decoration: underline;
}

#controls {
  padding-left: 1.5em;
  padding-right: 0.3em;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
}
#controls #meta {
  color: #234;
  font-size: 12px;
}
#controls input {
  font-size: 13px;
}
#controls input[type=text],
#controls input[type=password] {
  border: 1px solid #b7c5d9;
}
#controls #title {
  width: 78px;
}
#controls #username {
  width: 75px;
  background: #dfd;
}
#controls #password {
  width: 72px;
  background: #fdd;
}
#controls #send {
  padding: 0 0.6em;
}
@media (min-width: 768px) {
  #controls #title {
	width: 108px;
  }
  #controls #username {
	width: 102px;
	background: #dfd;
  }
  #controls #password {
	width: 96px;
	background: #fdd;
  }
}

#controls .title {
  margin-right: 0.6em;
}
#controls .count {
  margin-left: 0.15em;
}
#controls .date,
#controls .uid-link,
#controls .actions {
  margin-left: 0.3em;
}

.paste-info .title {
  font-weight: bold;
}
.paste-info .anon {
  font-style: italic;
}
.paste-info .trip-link {
  color: #093;
}
.paste-info .uid-link {
  border-radius: 3px;
  padding: 1px 2px;
}
.paste-info .uid-link.dark {
  color: #fff;
}
.paste-info .uid-link.light {
  color: #000;
}

#top-menu {
  flex: 1;
  text-align: right;
  padding-left: 0.9em;
  padding-right: 0.6em;
  min-width: 36px;
  white-space: nowrap;
  overflow: hidden;
}

#content {
  margin-top: 36px; /* .header height incl border */
}
#page-text {
  padding: 1em;
  font-size: 15px;
}
#page-text h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}
#page-text p {
  margin-bottom: 12px;
}
.error, .warning {
  color: #900;
}
#page-text .paste-list {
  font-size: 13px;
  line-height: 22px;
}

.paste-list {
  border-top: 1px solid rgba(214, 218, 240, 0.6);
  border-bottom: 1px solid rgba(214, 218, 240, 0.6);
}
.paste-list tr.header {
  background: rgba(214, 218, 240, 0.6);
}
.paste-list th {
  font-weight: bold;
}
.paste-list th,
.paste-list td {
  text-align: left;
  padding: 0 0.3em;
  border-left: 1px solid rgba(214, 218, 240, 0.6);
}
.paste-list td {
  border-top: 1px solid rgba(214, 218, 240, 0.6);
  color: rgba(0, 0, 0, 0.75);
}
.paste-list .cell-index,
.paste-list .cell-size {
  text-align: right;
}
.paste-list .cell-size {
  border-right: 1px solid rgba(214, 218, 240, 0.6);
}
.paste-list .count {
  margin-left: 0.15em;
}
.paste-list .anon {
  opacity: 0.75;
}
.paste-list a {
  padding: 0.3em 0;
}

#paste {
	margin: 0;
	position: absolute;
	top: 36px; /* .header height incl border */
	left: 0;
	right: 0;
	bottom: 0; /* doesn't work? */
	height: calc(100% - 36px); /* .header height incl border */
	padding: 3px;
	font-size: 12px;
	font-family: monospace;
	white-space: pre-wrap;
	border: none;
	line-height: 13.5px;
	display: block;
	width: 100%;
	resize: none;
	outline: none;
}
textarea[readonly] {
	opacity: 0.75;
	background: rgba(214, 218, 240, 0.6);
}
