/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */

* {
	box-sizing: border-box;
}
body {
	background: #fff;
	color: #000;
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
}
a {
  color: #30a;
  text-decoration: none;
}
a:hover, a:focus {
  color: #30f;
  text-decoration: underline;
}
strong {
  font-weight: bold;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 36px;
	line-height: 36px;
	background: #d6daf0;
	border-bottom: 3px solid #b7c5d9;
	display: flex;
	z-index: 6;
}
#logo {
	width: 33px;
	height: 33px;
}

#controls {
  padding-left: 1.5em;
}
#controls #description {
  color: #456;
  font-size: 12px;
}
#controls input {
  font-size: 13px;
}
#controls input[type=text],
#controls input[type=password] {
  border: 1px solid #b7c5d9;
}
#controls #title {
  width: 72px;
}
#controls #username {
  width: 75px;
  background: #dfd;
}
#controls #password {
  width: 78px;
  background: #fdd;
}
#controls #send {
  width: 60px;
  padding: 0;
}

#top-menu {
  flex: 1;
  text-align: right;
  padding-right: 0.6em;
}

#content {
  margin-top: 36px;
}
#page-text {
  padding: 1em;
  font-size: 15px;
}
#page-text h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}
#page-text p {
  margin-bottom: 12px;
}
.error, .warning {
  color: #900;
}

#lines, #paste, #calc {
	margin: 0;
	padding: 3px;
	font-size: 12px;
	font-family: monospace;
	white-space: pre;
	border: none;
	line-height: 13.5px;
}
#calc {
	padding: 0;
	display: inline-block;
}
#lines {
	display: none;
	position: fixed;
	top: 36px;
	left: 0;
	overflow: hidden;
	width: 60px;
	background: rgb(241, 242, 250);
	color: #777;
	z-index: 3;
}
body.js #lines {
	display: block;
}
#paste {
	display: block;
	width: 100%;
	min-height: 300px;
	resize: none;
	outline: none;
}
body.js #paste {
	overflow: hidden;
}
textarea[readonly] {
	opacity: 0.75;
	background: rgba(214, 218, 240, 0.6);
}
